.side-chat
  .side-chat__head
    .side-chat__head__box
      .side-chat__head__box__name
        名前
      .side-chat__head__box__menu
        .edit-btn
          = link_to "#" do
            = icon('fa', 'edit', class:"edit-btn")

        .cog-btn
          = link_to "#" do
            = icon('fa', 'cog', class:"cog-btn")
  .side-chat__groups
    .side-chat__groups__member
      ffffff
    .side-chat__groups__message
      ffffff
  

